
  .detailsCol {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--details-width);
    z-index: 50;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    transition: width var(--ds-transition-duration-slow) var(--ds-ease-in-out);
    background: var(--dsw-alias-bg-base);
  }
}
